{{ ansible_managed | comment }}
{% if nomad_mode=='client' or nomad_mode=='both' %}
# Enable the client
client {
  enabled = true

  # For demo assume we are talking to server1. For production,
  # this should be like "nomad.service.consul:4647" and a system
  # like Consul used for service discovery.
  servers = ["{{ nomad_servers }}"]
}
{% endif %}
# Because we will potentially have two clients talking to the same
# Docker daemon, we have to disable the dangling container cleanup,
# otherwise they will stop each other's work thinking it was orphaned.
{% if nomad_plugins_enable_docker==true %}
plugin "docker" {
  config {
    gc {
      dangling_containers {
        enabled = false
      }
    }
  }
}
{% endif %}
