{{ ansible_managed | comment }}
[Unit]
Description=nomad
Documentation={{ nomad_documentation_link }}
Requires=network-online.target
After=network-online.target

[Service]
PrivateTmp={{ nomad_private_tmp }}
User={{ nomad_user }}
Group={{ nomad_group }}
RuntimeDirectory=nomad
LimitNOFILE={{ nomad_max_files }}

ExecStart={{ nomad_bin_path }}/{{ nomad_exec_name }} agent -config={{ nomad_config_path }}
StandardOutput={{ nomad_log_output }}
StandardError={{ nomad_log_output }}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
Restart=always

[Install]
WantedBy=multi-user.target
