

# Enable the server
server {
  enabled = {% if nomad_mode=='client' %}false{% else %}true{% endif %}

  # Self-elect, should be 3 or 5 for production
  bootstrap_expect = {{ nomad_bootstrap_expect }}
}
